/* .RobotoText {
    font-family: "Roboto", sans-serif !important;
} */

.SiteHeader {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1040;
    /* padding-bottom: 0; */
    background-color: #D8D5CA;
  }
  .SiteHeader:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1041;
    /* background-color: rgba(216, 213, 202, 1); */
    background-color: #FFFFFF;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.77, 0, 0.175, 1);
    transition: -webkit-transform 0.8s cubic-bezier(0.77, 0, 0.175, 1);
    transition: transform 0.8s cubic-bezier(0.77, 0, 0.175, 1);
    transition: transform 0.8s cubic-bezier(0.77, 0, 0.175, 1),
      -webkit-transform 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  }
  @media (max-width: 767.98px) {
    .SiteHeader:before {
      z-index: 1043;
    }
  }
  .mobile .SiteHeader,
  .tablet .SiteHeader {
    position: fixed;
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
    -webkit-transform: translate3D(0, 0, 0);
    transform: translate3D(0, 0, 0);
  }
  .page-transitioning--fade .SiteHeader {
    -webkit-transition: none !important;
    transition: none !important;
  }
  .page-transitioning--fade .SiteHeader:after,
  .page-transitioning--fade .SiteHeader:before {
    -webkit-transition: none !important;
    transition: none !important;
  }
  .page-transitioning--fade .SiteHeader *,
  .page-transitioning--fade .SiteHeader :after,
  .page-transitioning--fade .SiteHeader :before {
    -webkit-transition: none !important;
    transition: none !important;
  }
  .SiteHeader--not-top:before,
  .show-menu .SiteHeader:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  .mobile .SiteHeader--unpinned,
  .tablet .SiteHeader--unpinned {
    -webkit-transform: translate3D(0, -100%, 0);
    transform: translate3D(0, -100%, 0);
    pointer-events: none;
  }
  .SiteHeader-bar {
    height: 200px;
    z-index: 1050;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    pointer-events: none;
  }
  @media (min-width: 768px) {
    .SiteHeader-bar {
      height: 200px;
    }
  }
  .SiteHeader-bar > * {
    pointer-events: auto;
  }

  .SiteHeader-brand,
  .SiteHeader-menuToggle {
    color: #46443A;
    -webkit-transition: color 0.15s linear 0.35s;
    transition: color 0.15s linear 0.35s;
  }
  .has-inverted-header .SiteHeader-brand,
  .has-inverted-header .SiteHeader-menuToggle {
    color: #46443A;
  }
  .SiteHeader--not-top .SiteHeader-brand,
  .show-menu .SiteHeader-brand {
    color: #46443A;
  }
  .show-menu .SiteHeader-brand {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
  }
  a.SiteHeader-logo {
    color: currentColor !important;
    -webkit-transition: none;
    transition: none;
  }
  a.SiteHeader-logo svg {
    height: 160px;
    width: auto;
    fill: currentColor;
    shape-rendering: geometricPrecision;
    stroke: currentColor;
    stroke-width: 0.1px;
  }
  .show-menu a.SiteHeader-logo svg {
    fill: #46443A;
    stroke: #46443A;
    height: 160px !important;
    z-index: 100;
  }
  @media (min-width: 768px) {
    a.SiteHeader-logo svg {
      height: 160px;
    }
  }
  a.SiteHeader-logo svg .Logo-art {
    stroke-width: 0.5px;
  }
  .SiteHeader-menuToggle {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    background: 0 0;
    padding: 0;
    height: 5rem;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .SiteHeader--not-top .SiteHeader-menuToggle,
  .has-inverted-header .SiteHeader-menuToggle {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  .SiteHeader--not-top .SiteHeader-menuToggle {
    color: #46443A;
  }
  .SiteHeader--not-top a.SiteHeader-logo svg {
    height: 160px;
  }
  @media (max-width: 767.98px) {
    .show-menu .SiteHeader-menuToggle {
      color: #FFFFFF;
    }
  }
  @media (min-width: 768px) {
    .show-menu .SiteHeader-menuToggle {
      color: #FFFFFF;
    }
  }
  .SiteHeader-menuIcon {
    width: 3.75rem;
    height: 4px;
    position: relative;
    margin-right: 1rem;
  }
  .SiteHeader-menuIcon:after,
  .SiteHeader-menuIcon:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #46443A;
    -webkit-transition: background 0.15s linear 0.3s, -webkit-transform 0.3s;
    transition: background 0.15s linear 0.3s, -webkit-transform 0.3s;
    transition: transform 0.3s, background 0.15s linear 0.3s;
    transition: transform 0.3s, background 0.15s linear 0.3s,
      -webkit-transform 0.3s;
  }
  .has-inverted-header .SiteHeader-menuIcon:after,
  .has-inverted-header .SiteHeader-menuIcon:before {
    background-color: #46443A;
  }
  .SiteHeader--not-top .SiteHeader-menuIcon:after,
  .SiteHeader--not-top .SiteHeader-menuIcon:before {
    background-color: #46443A;
  }
  .show-menu .SiteHeader-menuIcon:after,
  .show-menu .SiteHeader-menuIcon:before {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  @media (max-width: 767.98px) {
    .show-menu .SiteHeader-menuIcon:after,
    .show-menu .SiteHeader-menuIcon:before {
      background-color: #FFFFFF;
    }
  }
  @media (min-width: 768px) {
    .show-menu .SiteHeader-menuIcon:after,
    .show-menu .SiteHeader-menuIcon:before {
      background-color: #FFFFFF;
    }
  }
  .SiteHeader-menuIcon:after {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  .SiteHeader-menuIcon:before {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  .SiteHeader-menuLabel {
    margin-right: 0.75rem;
    overflow: hidden;
    width: 5rem;
    text-align: right;
    position: relative;
  }
  .SiteHeader-menuLabel span {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    -webkit-transition: -webkit-transform 0.6s;
    transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    transition: transform 0.6s, -webkit-transform 0.6s;
  }
  .SiteHeader-menuLabel [data-close] {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: translateY(-120%);
    transform: translateY(-120%);
  }
  [aria-pressed="true"] .SiteHeader-menuLabel [data-close] {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  [aria-pressed="true"] .SiteHeader-menuLabel [data-open] {
    -webkit-transform: translateY(120%);
    transform: translateY(120%);
  }
  @media (max-width: 767.98px) {
    .SiteHeader-menuLabel {
      display: none;
    }
  }
  .SiteHeader-overlay {
    position: absolute;
    z-index: 1042;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
  }
  html:not(.show-menu) .SiteHeader-overlay {
    pointer-events: none;
  }
  html:not(.show-menu) .SiteHeader-overlay * {
    pointer-events: none !important;
  }
  .SiteHeader-overlay-bg {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.77, 0, 0.175, 1);
    transition: -webkit-transform 0.8s cubic-bezier(0.77, 0, 0.175, 1);
    transition: transform 0.8s cubic-bezier(0.77, 0, 0.175, 1);
    transition: transform 0.8s cubic-bezier(0.77, 0, 0.175, 1),
      -webkit-transform 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  }
  .SiteHeader--not-top .SiteHeader-overlay-bg {
    top: calc(200px - 1px);
  }
  @media (min-width: 768px) {
    .SiteHeader--not-top .SiteHeader-overlay-bg {
      top: calc(200px - 1px);
    }
  }
  .show-menu .SiteHeader-overlay-bg {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  .SiteHeader-overlay-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  .SiteHeader-overlay-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f2f2f2;
    padding-top: 1rem;
    padding-bottom: 1rem;
    opacity: 0;
    -webkit-transform: translateY(110%);
    transform: translateY(110%);
    -webkit-transition: opacity 0.1s 0.3s,
      -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: opacity 0.1s 0.3s,
      -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1),
      opacity 0.1s 0.3s;
    transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1),
      opacity 0.1s 0.3s, -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .show-menu .SiteHeader-overlay-footer {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: opacity 0.1s,
      -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.6s;
    transition: opacity 0.1s,
      -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.6s;
    transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.6s,
      opacity 0.1s;
    transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.6s,
      opacity 0.1s, -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.6s;
  }
  @media (min-width: 768px) {
    .SiteHeader-overlay-footer {
      display: none !important;
    }
  }
  .SiteHeader-overlay-footer .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .SiteHeader-overlay-footer a {
    text-decoration: none !important;
    color: currentColor !important;
  }
  .SiteHeader-overlay-footer > a {
    font-size: 1.125rem;
  }
  .SiteHeader-overlay-footer ul {
    margin: 0 0 0 auto;
    padding: 0;
    list-style-type: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: calc(1rem - 2px);
  }
  .SiteHeader-overlay-footer li.is-active {
    text-decoration: underline;
  }
  .SiteHeader-overlay-footer li:not(.is-active) {
    color: rgba(0, 0, 0, 0.5);
  }
  .SiteHeader-overlay-footer li:not(:first-child) {
    margin-left: 0.5rem;
  }
.HomeHr {
    border-top: 4px solid #46443A;
}
.HomeSectionHeader {
    font-family: 'Roboto', sans-serif !important;
    font-size: 65px !important;
    color: #1F1F1F;
    font-weight: 500;
}
.HomeVideoContainer {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.HomeVideoContainer .Video-media {
    padding-bottom: 37.5% !important;
    text-align: center;
}


.box-grid-wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  position: relative;
  top: 0px;
}
.HomeSectionHeaderWrap {
  width: 92.5%;
  min-height: 65px;
  text-align: left;
  overflow: hidden;
  font-family: 'Roboto', sans-serif !important;
  font-size: 65px !important;
  line-height: 65px;
  color: #1F1F1F;
  font-weight: 500;
}

.container-3-col {
  width: 92.5%;
  margin: 2.7777775vw 0 0 0;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.container-3-col .col-1-of-3 {
  aspect-ratio: 1;
  /* border: 2px solid coral; */
  overflow: hidden;
  background-color: #1f1f1f;
  position: relative;
  box-shadow: 0 1px 8px -1px rgba(0, 0, 0, 0.2);
}

.col-square-img {
  height: 100%;
  width: 100%;
  display: block;
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.col-square-content {
  /* background-color: pink; */
  position: absolute;
  width: 90%;
  min-height: 60%;
  top: 50%;
  transform: translateY(-50%);
  ms-transform: translateY(-50%);
  left: 5%;
  transition: 0.5s ease;
  opacity: 0;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.col-square-title {
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  font-size: 2rem;
  line-height: 2.25rem;
  letter-spacing: 0.5px;
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 10px;
}
.col-square-text {
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.75rem;
  margin: 0 auto;
  margin-bottom: 7.5px;
}

.container-3-col .col-1-of-3:hover .col-square-img {
  opacity: 0.3;
}
.container-3-col .col-1-of-3:hover .col-square-content {
  opacity: 1;
}

.HomeBannerHero-title {
  font-family: 'Roboto', sans-serif !important;
}

.HomeBannerSlides-title {
  font-family: 'Roboto', sans-serif !important;
}

.HomeBannerSlides-cardTitle {
  font-family: 'Roboto', sans-serif !important;
}

.HomeSwiper-slide {
  width: calc(31.66667% - 1.11111vw) !important;
  padding-right: 2.7777775vw !important;
}

.HomeCard-media {
  box-shadow: 0 1px 8px -1px rgba(0, 0, 0, 0.2) !important;
}

.HomeCard-figure {
  padding-bottom: 100% !important;
}

.HomeCard-date {
  margin-top: 0 !important;
  font-family: 'Roboto', sans-serif;
}

#HomeAccordion {
  margin-top: 0vw !important;
}
