/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: border-box;
  } */

/* #top-header {
    width: 100%;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: height 0.3s;
    transition: height 0.3s;
    display: flex;
    z-index: 2000;
    background-color: #D8D5CA;
}

#min-header {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: yellow;
    display: flex;
}
#min-header.fixed-min-header {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transform: translate(0, -200px);
}
#min-header.in-view-min-header {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
    transform:translate(0, 0);
}

#header-col-left {
    height: 100%;
    width: 12%;
    position: relative;
}
#header-col-left nav {
    position: absolute;
    min-width: 100%;
    max-width: 768px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
}
#header-col-left .navigation {
    max-width: 768px;
    line-height: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: calc((12vw - 60px) / 2);
    height: 100%;
}

#header-col-left ul {
    display: flex;
  justify-content: space-between;
  list-style: none;
  width: 0;
  overflow: hidden;
  transition: .4s cubic-bezier(.77,0,.18,1);
}
#header-col-left.active ul {
    width: 700px;
    margin-right: 20px;
    padding-right: 30px;
    background-color: #fff;
    padding-top: 14px;
    padding-bottom: 14px;
}
#header-col-left a {
    color: #888;
    text-decoration: none;
    transition: .3s;
}
#header-col-left a:hover {
    color: #3C9DFB;
}
.nav-toggler {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 48px;
    padding: 14px 5px;
    cursor: pointer;
}
#header-col-left:not(.active) .nav-toggler {
    margin-right: 0px;
}
.nav-toggler::before,
.nav-toggler::after{
  content: '';
  position: relative;
  display: block;
  width: 50px;
  height: 7.5px;
  background-color: #46443A;
  transition: .7s cubic-bezier(.77,0,.18,1);
}
.nav-toggler::after {
  margin-top: 10px;
}
#header-col-left.active .nav-toggler::before,
#header-col-left.active .nav-toggler::after{
  position: absolute;
  top: 50%;
  background-color: #46443A;
  transform: rotate(135deg);
}
#header-col-left.active .nav-toggler::after {
  transform: rotate(-135deg);
  margin-top: 0;
}

#header-col-middle {
    height: 100%;
    width: 76%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#header-logo-img {
    height: 85%;
    width: auto;
    margin: 0 auto;
    -webkit-transition: height 0.3s;
    transition: height 0.3s;
}
header.minimized #header-logo-img {
    height: 90%;
    -webkit-transition: height 0.3s;
    transition: height 0.3s;
}

#header-col-right {
    height: 100%;
    width: 12%;
} */

#home-hero {
    height: calc((76vw * 0.62) + 300px);
    width: 100%;
    position: relative;
    top: 0px;
}
#home-hero::before,
#home-hero::after {
    content: '';
    position: relative;
    display: block;
    width: 100%;
    height: calc(((76vw * 0.62) / 2) + 200px);
    background-color: #D8D5CA;
}
#home-hero::after {
    height: calc(((76vw * 0.62) / 2) + 100px);

    background-color: #FFFFFF;

}
.home-hero-img {
    width: 76%;
    height: auto;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%);
    z-index: 500;
}

#home-s2 {
    min-height: calc((76vw * 0.62) + 50px);
    width: 100%;
    background-color: #FFFFFF;
    position: relative;
    top: 0px;
    overflow: hidden;
}
.home-s2-content {
    width: 88%;
    min-height: calc((76vw * 0.62) - 50px);
    /* background-color: pink; */
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    overflow: hidden;
    margin-bottom: 50px;
}
.home-s2-col-1 {
    width: 37.5%;
    min-height: calc((76vw * 0.62) - 150px);
    float: left;
    /* background-color: green; */
    position: relative;
}
.home-s2-col-1:after {
    content: "";
    height: 85%;
    width: 1px;
    position: absolute;
    right: 0;
    top: 10%;
    background-color: #D8D5CA;
}
.home-s2-col-2 {
    width: 62.5%;
    min-height: calc((76vw * 0.62) - 150px);
    float: right;
    /* background-color: yellow; */
    overflow: hidden;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 37.5%;
    transform: translateY(-50%);
}
.home-s2-col-1-img {
    width: 100%;
    height: auto;

}
.home-s2-title {
    font-family: 'Roboto', sans-serif;
    font-size: 3.5rem;
    line-height: 3.75rem;
    letter-spacing: 1px;
    font-weight: 500;
    color: #D8D5CA;
    padding-left: 2.5%;
    padding-bottom: 2.5%;
}
.home-s2-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 400;
    color: #1F1F1F;
    padding-left: 2.5%;
    margin: 0 auto;
    padding-bottom: 1.125%;
}
.home-s2-a {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: -0.5px;
    color: #D8D5CA;
    text-decoration: none;
    padding-left: 2.5%;
    padding-top: 2.5%;
}
#home-s3 {
    width: 100%;
    height: 42.5vw;
    position: relative;
    top: 0px;
    background-color: #001c38;
    border-top: 1rem solid #D8D5CA;
    border-bottom: 1rem solid #D8D5CA;
}
.home-s3-videoBanner-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(https://cdn11.bigcommerce.com/s-c0d5nzsjp4/images/stencil/original/image-manager/merc-tour-cover-img.jpg);
    opacity: 0.8;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.home-s3-videoBanner-img:after {
    background: rgba(0,0,0,.2);
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.home-s3-videoBanner-content {
    padding: 150px 0;
    position: relative;
    z-index: 1;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.home-s3-title {
    font-family: 'Roboto', sans-serif;
    font-size: 5rem;
    line-height: 5.25rem;
    letter-spacing: 1.5px;
    font-weight: 500;
    margin: 0 auto;
    color: #FFFFFF;
    width: 80%;
    opacity: 0.8;
}
.popup-trigger {
    margin-top: -17px;
    min-width: 60%;
    color: #fff;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    cursor: pointer;
    border: 3px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 12px;
    font-size: 3.5rem;
    line-height: 3.75rem;
}
.video-popup-inner {
    max-width: 1380px;
    transition: all .3s ease-out;
    transform: translateY(-50px);
    margin-left: 15px;
    margin-right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: calc(100% - 1rem);
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none;
}
.is-open .video-popup-inner {
    transform: none;
    pointer-events: all;
}
.video-modal-close-btn {
    transition: all .15s linear;
    visibility: hidden;
    opacity: 0;
}
.is-open .video-modal-close-btn {
    visibility: visible;
}
.video-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1049;
    width: 100%;
    height: 100%;
    background-color: #000;
    transition: all .15s linear;
    visibility: hidden;
    opacity: 0;
}
.is-open .video-popup-overlay {
    opacity: .8;
    visibility: visible;
}
.video-popup {
    position: fixed;
    z-index: 1032;
    overflow-y: auto;
    left: 0px;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-out;
}
.is-open.video-popup {
    visibility: visible;
    opacity: 1;
    transform: none;
}
.is-open.video-popup {
    visibility: visible;
    opacity: 1;
    transform: none;
}
.video-modal-close-btn {
    padding: 15px;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 0;
    right: 0;
    line-height: 20px;
    color: #fff;
    text-shadow: none;
    opacity: .2;
    z-index: 9999;
    cursor: pointer;
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: transparent;
    border: 1px solid transparent;
}
.video-modal-close-btn:hover {
    opacity: .75;
}
.video-modal-close-btn span {
    margin-top: -3px;
    display: block;
}
.video-popup-content iframe {
    background-color: #000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
.video-popup-spacing {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
}
.video-popup-spacing:before {
    padding-top: 56.25%;
    display: block;
    content: "";
}
.video-popup-content {
    position: relative;
    z-index: 1050;
    display: table-cell;
    vertical-align: middle;
}
.video-popup .modal-body {
    height: 100%;
    margin-left: 15px;
    margin-right: 15px;
}
.video-popup-inner {
    max-width: 1380px;
    transition: all .3s ease-out;
    display: table;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 1.75rem 0;
}




.box-grid-wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    position: relative;
    top: 0px;
  }
  
  .container-3-col {
    width: 80%;
    margin: 150px 0;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
  
  .container-3-col .col-1-of-3 {
    aspect-ratio: 1;
    /* border: 2px solid coral; */
    overflow: hidden;
    background-color: #1f1f1f;
    position: relative;
    box-shadow: 0 1px 8px -1px rgba(0, 0, 0, 0.2);
  }

  .col-square-img {
    height: 100%;
    width: 100%;
    display: block;
    opacity: 1;
    transition: 0.5s ease;
    backface-visibility: hidden;
  }
  .col-square-content {
    /* background-color: pink; */
    position: absolute;
    width: 90%;
    min-height: 60%;
    top: 50%;
    transform: translateY(-50%);
    ms-transform: translateY(-50%);
    left: 5%;
    transition: 0.5s ease;
    opacity: 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .col-square-title {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 2rem;
    line-height: 2.25rem;
    letter-spacing: 0.5px;
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .col-square-text {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.75rem;
    margin: 0 auto;
    margin-bottom: 7.5px;
  }

  .container-3-col .col-1-of-3:hover .col-square-img {
    opacity: 0.3;
  }
  .container-3-col .col-1-of-3:hover .col-square-content {
    opacity: 1;
  }

  @media screen and (max-width: 1279px) {
    .container-3-col {
      width: 90%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .container-3-col {
      width: 90%;
      margin: 1rem 0;
      display: grid;
      grid-auto-columns: 1fr;
      grid-column-gap: 16px;
      grid-row-gap: 16px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
    }
  }
  
  @media screen and (max-width: 505px) {
    .container-3-col {
      width: 90%;
      margin: 1rem 0;
      display: grid;
      grid-auto-columns: 1fr;
      grid-column-gap: 16px;
      grid-row-gap: 16px;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }
  }
